[submodule "bots/bot_cotacao_dolar"]
	path = bots/bot_cotacao_dolar
	url = https://github.com/PedroPerse/bot-cotacao-dollar.git
[submodule "bots/bot_verifica_cnpj"]
	path = bots/bot_verifica_cnpj
	url = https://github.com/PedroPerse/bot-verifica-cnpj.git
[submodule "bots/bot_download_faturas"]
	path = bots/bot_download_faturas
	url = https://github.com/PedroPerse/download-de-faturas-email.git
[submodule "bots/bot_preenchimento_formulario"]
	path = bots/bot_preenchimento_formulario
	url = https://github.com/PedroPerse/bot-preenchimento-formulario.git
[submodule "bots/bot_previsao_tempo"]
	path = bots/bot_previsao_tempo
	url = https://github.com/PedroPerse/bot-previsao-tempo.git
